*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(48, 46, 46);
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img1.jpg);
    color: white;
    background-position: center;
    background-size: cover;
    width: cover;
}
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    font-size: 2rem;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 29px;
}
nav ul li{
    font-size: 1rem;
}
a:hover{
    background-color:red;
    color:yellow ;
}
.about {
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img1.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 20px;
    height: 400px;
}
.introduction{
    display: flex;
    justify-content: space-around;
}
.introduction h2{
  color: white;
  margin-top: 100px;

}

.introduction  h1 {
    color: white;
    margin-top: 10px;
}
.introduction  p {
    color: white;
    margin-top: 10px;
}
.introduction  .button {
    color: rgb(17, 16, 16);
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
.button:hover{
    background-color: rgb(105, 105, 238);
}
.product{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img8.jpg);
    background-position: center;
    background-size: cover;
    padding:50px 20px ;
    height: 30px;

}
.about-product {
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img8.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 20px;
    height: 600px;
}
.product h1{
    margin-top:5px;
    color: white;
    text-decoration: underline;
    text-align: center;
    
}
.product h2{
    margin-top: 10px;
    color: white;
    text-align: center;
}


.introduction-of-product{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.introduction-of-product h1{
    margin-top:5px;
    color: white;
    text-align: center;
    
}
.introduction-of-product p{
    margin-top:10px;
    color: white;
    text-align: center;
    
}
.introduction-of-product .bella-vita{
    margin: 55px;
    margin-top: 0;
}
.introduction-of-product .order {
    color: rgb(17, 16, 16);
    margin-top: 20px;
    margin-left: 90px;
    text-align: center;
}
.order:hover{
    background-color: blue;
}